@font-face {
    font-family: 'AlethiaPro-Regular';
    src: url('/webfonts/3602DD_0_0.eot');
    src: url('/webfonts/3602DD_0_0.eot?#iefix') format('embedded-opentype'), url('/webfonts/3602DD_0_0.woff2') format('woff2'), url('/webfonts/3602DD_0_0.woff') format('woff'),url('/webfonts/3602DD_0_0.ttf') format('truetype');
}

.avatar{
    float: right;
    margin-right: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 240px;
}
.header-layout{
    margin:0px 0px ;
    padding:0px 0px;
}

/* defining classes */
.intro{
    padding:0 10px;
    width: 50%;
    
}
.intro:hover{
    
 
}
.intro p{
    font-size: 1em;
}
.intro p a{
    color: black;
    text-decoration: underline;
    text-decoration-style:dotted;
}

nav.center-vesrion{
    display: none;
    position: static;
    width: auto;
    height: 30px;
    text-align: center;
    background-color: rgb(0, 0, 36);
    border-top-style: solid;
    border-top-color: white;
    border-top-width: thin;
}

nav.center-vesrion ul{
    text-align: center;
    padding: 0 0;
    margin:0;
    display:  inline-block;
    height: 100%;
}
nav.center-vesrion ul li{
    font-weight:bold;
    margin-right: 0px;
    line-height:30px;
    float: left;
    list-style:  none;
}

nav.center-vesrion ul li a {
    text-decoration: none;
    color: #111;
    font-weight:bold;
    /* padding-top: 11px; */
    /* padding-bottom:40px; */
    padding-right: 20px;
    padding-left: 20px;
    text-align:center;
    overflow:hidden;
    transition:border-color .3s ease-in-out;
    float:  left;
    height: 100%;
    color: #eae5c7;
    font-size: 1em;
}

.author_info{
    margin-left:5px;
    /* height: 80; */
    display: inline-block;
    width: 360px;
    text-align: center;
}
.author_info p{
    \35 :bolder;
    font-size:1.5em;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 1px;
    display: inline-block;
    letter-spacing: 4px;
    color: #fed97f;
}

.author_info p.title{
    font-weight:600;
    font-size: .8em;
    padding-bottom: 1px;
    letter-spacing: normal;
}
.author_info p.institute{
    font-weight:600;
    font-size: .8em;
    padding-bottom: 1px;
    letter-spacing: normal;
 
}
.splashHeader {
    width: 100%;
    text-align: left;
    font-size: 3rem;
    font-family: Century,"Times New Roman",serif;
    font-weight: bolder;
    color: black;
    border-bottom: solid;
    border-bottom-width: .04em;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

    width: 55%;
    text-align: right;
    font-size: 1.6em;
    color: crimson;
    background-color: antiquewhite;
}
.full_box{
    padding: 0 0;
    background:rgb(0, 0, 36);
    overflow: hidden;
    height: 90px;
    margin-bottom: 0;
}
.problemStatement{

    outline-style:double;
    outline-width:.14em;
    outline-offset:.5em;
}

.postSummary{
    float: right;
    width: 65%;
    padding-bottom: 10px;
    border-bottom:double;
    margin-right:20%;
}
.postDate{
    float: left;
    clear:both;
    width:10%;
}

.postHeader{

    list-style:none;
}

.postHeader a{
    color: #111;
    text-decoration: underline;
    text-decoration-style: dotted;
}
#top_nav{
    margin: 0px 0px auto;
    height: 100%;
    display: inline-block;
    float: right;
}
#top_nav ul{
    text-align: center;
    padding: 0 0;
    margin:0;
    display:  inline-block;
    height: 100%;
}
#top_nav ul li{
    font-weight:bold;
    margin-right: 0px;
    line-height:30px;
    float: left;
    list-style:  none;
}

#top_nav ul li a {
    text-decoration: none;
    color: #111;
    font-weight:bold;
    /* padding-top: 11px; */
    /* padding-bottom:40px; */
    padding-right: 40px;
    padding-left: 40px;
    text-align:center;
    overflow:hidden;
    transition:border-color .3s ease-in-out;
    float:  left;
    height: 100%;
    color: #eae5c7;
}

#top_nav ul li a:hover {
/*     text-decoration:underline; */
border-color: #665126;border-left-style: dotted;border-right-style: dotted;border-width: thin;
}
#top_nav ul li a.on{border-color: white;border-left-style: dotted;border-right-style: dotted;border-width: thin;}
.container{
    margin:0px 0px ;
    padding:0px 0px;
}

.myphoto{
    width: 150px;
    height: 200px;
    border: solid .15pt burlywood;
    box-shadow: 0 0 10px rgb(0,0,36);
}

html{

    background-image: url("../images/chess.jpeg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    margin: 0px auto;
    width: 100%;
    max-width: 960px;
    font-family: AlethiaPro-Regular, Arial;
    background-color: white;
    opacity: .9;
    height: fit-content;
}
article{
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 20px;
    margin-top: 5px;
}

h1 {
    font-family: AlethiaPro-Regular;  
    font-size: 3em;
}

h2{
    font-family: Cardo, Georgia, Times, 'Times New Roman', serif;
}

footer ul {
    /*font-family:Arial;*/
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
/*nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}*/
/*a {
    text-decoration: none;
    color: #111;
}
a:hover {
    text-decoration: underline;
}*/

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #111;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
    padding-left: 10px;
}
footer a{
    color: black;
    text-decoration: underline;
    text-decoration-style: dotted;
        
}
.email-icon{
    
    height: 20px;
}
#email{
    position: relative;
    bottom: 3px;
}
@media (max-width: 960px) and (min-width:472px){
    nav.center-vesrion{
        display:block;
    }
    #top_nav{
        display:none;
    }
    .author_info{
        position:absolute;
        right:50%;
        transform:translateX(50%);
        text-align: center;
    }
    .intro{
        width: 50%;
    }
    .intro p{
        font-size: 1em;
        
    }
    footer p{
        font-size: .8em;
    }
    #email{
        font-size:.8em;
    }
}

@media (max-width:472px){

header{
    width: 100%;
}
    #top_nav{
        display:none;
    }
    .author_info{
        width:320px;
        position:absolute;
        right:50%;
        margin: 0;
        transform: translateX(50%);
        text-align: center;
    }

    .author_info p{
        font-size:1em;
        margin: 0;
    }
    
     .author_info p.title{
        font-size:.8em;

    }
    
    .author_info p.institute{
        font-size:.8em;
    }
    .avatar{
        float:none;
        width: auto;
        margin-top:20px;
        margin-left:auto;
        margin-bottom: 10px;
        margin-right: auto;

    }
     .intro{
        width: auto;
        text-align: center;

    }
    .intro p{
        font-size: .8em;
        
    }
    footer p{
        font-size: .6em;
    }
    #email{
        font-size:.6em;
    }
}
/*ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    font-family: Arial; 
}
