@font-face {
    font-family: 'AlethiaPro-Regular';
    src: url('/webfonts/3602DD_0_0.eot');
    src: url('/webfonts/3602DD_0_0.eot?#iefix') format('embedded-opentype'), url('/webfonts/3602DD_0_0.woff2') format('woff2'), url('/webfonts/3602DD_0_0.woff') format('woff'),url('/webfonts/3602DD_0_0.ttf') format('truetype');
}

/* defining classes */
.splashHeader {
    width: 100%;
    text-align: left;
    font-size: 3rem;
    font-family: Century,"Times New Roman",serif;
    font-weight: bolder;
    color: black;
    border-bottom: solid;
    border-bottom-width: .04em;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

    width: 55%;
    text-align: right;
    font-size: 1.6em;
    color: crimson;
    background-color: antiquewhite;
}

.problemStatement{

    outline-style:double;
    outline-width:.14em;
    outline-offset:.5em;
}


body {
    margin: 10px auto;
    width: 90%;
    font-family: AlethiaPro-Regular, Arial;
    background-color: #f4ebf9; 
}

h1 {
    font-family: AlethiaPro-Regular;  
    font-size: 3em;

}

nav ul, footer ul {
    /*font-family:Arial;*/
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #111;
}
a:hover {
    text-decoration: underline;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    font-family: Arial; 
}
