@font-face {
    font-family: 'AlethiaPro-Regular';
    src: url('/webfonts/3602DD_0_0.eot');
    src: url('/webfonts/3602DD_0_0.eot?#iefix') format('embedded-opentype'), url('/webfonts/3602DD_0_0.woff2') format('woff2'), url('/webfonts/3602DD_0_0.woff') format('woff'),url('/webfonts/3602DD_0_0.ttf') format('truetype');
}

/* defining classes */
.intro{
    padding:0 10px;
}
.top_nav{
    float:right;
}
.author_info{
    float:left;   
    margin-left:5px;     
}
.author_info p{
    font-weight:bolder;
    font-size:1.5em;
    text-align:left;
    margin:5px;
}

.author_info p.title{
    font-weight:600;
    font-size:1em;
    text-align:left;
    padding-bottom:5px;
}
.splashHeader {
    width: 100%;
    text-align: left;
    font-size: 3rem;
    font-family: Century,"Times New Roman",serif;
    font-weight: bolder;
    color: black;
    border-bottom: solid;
    border-bottom-width: .04em;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

    width: 55%;
    text-align: right;
    font-size: 1.6em;
    color: crimson;
    background-color: antiquewhite;
}
.white_full_box{
    padding: 0 0;
    margin: 0 0;
    background:white;
    overflow: hidden;
}
.problemStatement{

    outline-style:double;
    outline-width:.14em;
    outline-offset:.5em;
}

.postSummary{
    float: right;
    width: 65%;
    padding-bottom: 10px;
    border-bottom:double;
    margin-right:20%;
}
.postDate{
    float: left;
    clear:both;
    width:10%;
}

.postHeader{
    list-style:none;
}
#top_nav{
    float:right;
    margin:9px 0px auto;
}
#top_nav ul{
    text-align: center;
    padding: 0 0;
    margin:0 0;
}
#top_nav ul li{
    font-weight:bold;
    margin-right: 20px;
    display:inline-block;
    line-height:30px;
}

#top_nav ul li a {
    text-decoration: none;
    color: #111;
    font-weight:bold;
    padding-top: 11px;
    padding-bottom:40px;
    padding-right:5px;
    padding-left:5px;
    text-align:center;
    overflow:hidden;
    transition:background-color .3s ease-in-out
}

#top_nav ul li a:hover {
/*     text-decoration:underline; */
background-color:#f4ebf9;
outline-style:solid;
outline-width:.01em;
outline-color:#d6d6d6;
}
#top_nav ul li a.on{
    outline-style:solid;
outline-width:.01em;
   outline-color:#d6d6d6; 
}
.container{
    margin:0px 0px ;
    padding:0px 0px;
}
body {
    margin: 0px auto;
    width: 1000%;
    font-family: AlethiaPro-Regular, Arial;
    background-color: #f4ebf9; 
}

h1 {
    font-family: AlethiaPro-Regular;  
    font-size: 3em;

}

footer ul {
    /*font-family:Arial;*/
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
/*nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}*/
/*a {
    text-decoration: none;
    color: #111;
}
a:hover {
    text-decoration: underline;
}*/

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

/*ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    font-family: Arial; 
}
