<head>
	<title>Hesam Mazidi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- link to main stylesheet -->
	<link rel="shortcut icon" href="icon.png">
	<link rel="stylesheet" type="text/css" href="MyFontsWebfontsKit.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" href="css/prism.css">
	<script src="/prism.js"></script>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cardo&#10;&#10;:300,400,600,700&amp;lang=en">

</head>