<div class="header-layout">
		<header class="full_box">
			<div class="author_info">
				<p> H E S A M &nbsp; M A Z I D I</p>
				<!-- <p class="title">
					PhD candidate in Electrical Engineering
				</p>
				<p class="institute">
					Washington University in St. Louis
				</p> -->

			</div>
			<nav id="top_nav">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/Publication"> Pulication</a>
					</li>

					<!-- <li>
						<a href="/Blog">Blog</a>
					</li> -->


				</ul>

			</nav>
		</header>
		<nav class="center-vesrion">
			<ul>
				<li>
					<a href="/" >Home</a>
				</li>
				<li>
					<a href="/Publication"> Publication</a>
				</li>
				<!-- <li>
					<a href="/Blog">Blog</a>
				</li> -->


			</ul>

		</nav>
	</div>